<h1>Battle!</h1>
<h2>Sign in to play</h2>
<form action="/names" method="post">
  <label for="Player1_name">
    Player1 name
  <input type="text" name="Player1_name">
  </label>

  <label for="Player2_name">
    Player2 name
  <input type="text" name="Player2_name">
  </label>

  <input type="submit" value="Submit">
</form>
